*{margin:0;padding:0;}
.o{position:absolute;left:0px;top:0px;font-size:20px;}
.w{position:absolute;left:50px;top:0px;font-size:20px;}
.t{position:absolute;left:100px;top:0px;font-size:20px;}
.f{position:absolute;left:150px;top:0px;font-size:20px;}
.v{position:absolute;left:200px;top:0px;font-size:20px;}
